<div class="table-controls">
    <div class="controls-left">
        <% if (showAddButton) { %>
            <a href="<%= addHref %>" class="btn btn-primary btn-table">
                + Add
            </a>
            <% } %>
    </div>

    <form method="GET" action="<%= searchAction %>" class="controls-search">
        <input type="text" name="<%= searchParamName %>" value="<%= searchQuery || "" %>"
            placeholder="<%= searchPlaceholder %>" class="form-control" />
        <button type="submit" class="btn btn-secondary btn-table">
            Search
        </button>
    </form>
</div>