<div class="page-container">

    <h1 class="page-title">Milestones</h1>

    <% if (session && session.access_level === "manager") { %>
        <a href="/milestones/new" class="btn btn-primary btn-small mb-4">
            + Add Milestone
        </a>
    <% } %>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Participant ID</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% milestones.forEach(m => { %>
                <tr>
                    <td><%= m.MilestoneTitle %></td>
                    <td>#<%= m.ParticipantID %></td>
                    <td><%= m.MilestoneDate %></td>

                    <td class="table-actions">
                        <a href="/milestones/<%= m.MilestoneID %>">View</a>

                        <% if (session && session.access_level === "manager") { %>
                            <a href="/milestones/<%= m.MilestoneID %>/edit">Edit</a>

                            <form action="/milestones/<%= m.MilestoneID %>/delete"
                                method="POST"
                                style="display:inline;">
                                <button class="btn btn-danger btn-small"
                                        style="padding:0.2rem 0.6rem;">
                                    Delete
                                </button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</div>
