<div class="page-container">

    <h1 class="page-title">Edit Donation</h1>

    <form action="/donations/<%= donation.DonationID %>/edit" method="POST" class="form">

        <label for="ParticipantID">Participant</label>
        <select id="ParticipantID" name="ParticipantID">
            <option value="">No specific participant</option>
            <% participants.forEach(p=> { %>
                <option value="<%= p.ParticipantID %>" <%=p.ParticipantID===donation.ParticipantID ? "selected" : "" %>>
                    <%= p.FirstName %>
                        <%= p.LastName %> (ID #<%= p.ParticipantID %>)
                </option>
                <% }) %>
        </select>

        <label for="DonationDate">Donation Date</label>
        <input id="DonationDate" type="date" name="DonationDate" value="<%= donation.DonationDate %>" required />

        <label for="DonationAmount">Donation Amount (USD)</label>
        <input id="DonationAmount" type="number" name="DonationAmount" min="1" step="0.01"
            value="<%= donation.DonationAmount %>" required />

        <button class="btn-submit">Save Changes</button>
    </form>

</div>