<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <div class="container mt-4">
            <h1>All Donations</h1>
            <a href="/donations/new" class="btn btn-primary mb-3">Make a Donation</a>

            <ul class="list-group">
                <% donations.forEach(d=> { %>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>
                            <strong>
                                <%= d.donor %>
                            </strong> donated $<%= d.amount %>
                        </span>
                        <a href="/donations/<%= d.id %>" class="btn btn-sm btn-outline-secondary">
                            Details
                        </a>
                    </li>
                    <% }) %>
            </ul>
        </div>

</body>

</html>