<div class="table-card">
    <table class="er-table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
                <th>Location</th>
                <th>Capacity</th>
                <th>Reg Deadline</th>
                <th>View</th>
            </tr>
        </thead>

        <tbody>
            <% occurrences.forEach(o => { %>
                <tr>
                    <td><%= o.EventName %></td>
                    <td><%= o.EventDateTimeStart %></td>
                    <td><%= o.EventDateTimeEnd %></td>
                    <td><%= o.EventLocation %></td>
                    <td><%= o.EventCapacity %></td>
                    <td><%= o.EventRegistrationDeadline %></td>

                    <td>
                        <a href="/eventOccurrences/<%= o.EventOccurrenceID %>" class="view-link">
                            View
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<a href="/eventOccurrences/new" class="btn btn-primary mt-3">
    + Schedule New Occurrence
</a>